Repository ajitsinghkamal/flash-cards: changes, and which lefthook commands are due for each by the changed paths.
All: prettify, check

lefthook.yml:

pre-commit:
  commands:
    prettify:
      glob: "*.{astro,css}"
      run: pnpm prettier --ignore-unknown --write {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,astro}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

chore: update package scripts
  .prettierrc.mjs
  biome.json
  lefthook.yml
  package.json
  public/styles/typography.css
  tsconfig.json
Due: prettify, check

fix: remove unused Card component
  src/components/Card.astro
Due: prettify, check

chore: use ligntingcss as css minifier
  astro.config.mjs
Due: check

doc: update .prettierrc.mjs
  .prettierrc.mjs
Due: check

style: fix typography
  fonts/Overpass.ttf
  fonts/Petrona.ttf
  fonts/Quicksand.ttf
  public/styles/design-tokens.css
  public/styles/index.css
  public/styles/reset.css
  public/styles/typography.css
Due: prettify

fix: update text in welcome
  src/components/WelcomeForm.astro
  src/pages/welcome.astro
Due: prettify, check

fix: style tweaks
  public/styles/design-tokens.css
  public/styles/index.css
  public/styles/reset.css
  src/components/WelcomeForm.astro
  src/pages/welcome.astro
Due: prettify, check

style: apply hover effect on button
  src/components/Button.astro
Due: prettify, check

feat: save username to localstorage
  src/components/Button.astro
  src/components/InputNameForm.astro
  src/components/WelcomeForm.astro
  src/modules/local-storage/key.ts
  src/modules/local-storage/service.ts
  src/pages/index.astro
  src/pages/welcome.astro
Due: prettify, check

fix: fonts directory
  public/fonts/overpass.ttf
  public/fonts/petrona.ttf
  public/styles/typography.css
Due: prettify
